<!doctype html>
<html>
<head>
  <title>Infinite Scroll Matt Beaney</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.js"></script>
  <link href="StyleSheet.css" rel="stylesheet" />
  <script src="ng-infinite-scroll.min.js"></script>
  <script src="js/main.js"></script>
</head>
<body id="body">
  <div ng-app="myApp" ng-controller="flickrController">
    <div infinite-scroll='flickr.nextPage("")' infinite-scroll-disabled='flickr.busy' infinite-scroll-distance='1'>
      <div style="" class="searchHolder">
        <img src="image/banner.png" class="banner"/>
        <input ng-model="searchTerm" id="search" class="searchBox" placeholder="Search" />
      </div>
      <div class="container">
        <div id="loaderBox">
          <div class="loader">Loading...</div>
        </div>
        <div class="noResults" ng-show='flickr.noResults'>
          <span>!</span> <br/>
          <p>NO RESULTS</p>
        </div>
        <div ng-repeat='item in flickr.tempItems track by $index' class="box">
          <div class="inner">
            <img src="{{item.media.m}}"/>
            <div class="descriptionContainer">
              <a href="{{item.link}}">
                <p>{{item.title}}</p></a>
              <p>by: {{item.author}}</p>
            </div>
          </div>
        </div>
        <div ng-show='flickr.busy'></div>
      </div>
    </div>
  </div>
</body>
</html>